@model Registeration

<table border="1" align="center">
    <tr>
        <td>EMail Address</td>
        <td>@Model.EMail</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <td>LinkedIn</td>
        <td>@Model.LinkedIn</td>
    </tr>
    <tr>
        <td>Position Applied</td>
        <td>@Model.PositionApplied</td>
    </tr>
    <tr>
        <td>About Us</td>
        <td>@Model.Aboutus</td>
    </tr>
    <tr>
        <td>Available Start Date</td>
        <td>@Model.AppStartDate</td>
    </tr>
    <tr>
        <td>Cover Letter</td>
        <td>@Model.CoverLetter</td>
    </tr>

</table>